*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: Roboto;
}

nav {
  width: 100%;
  height: 80px;
}

nav::after {
  content: "";
 clear: both;
 display: table;
}

.contenitore {
  width: 60%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.nav_sinistro {
  width: 40%;
  float: left;
}

.nav_destro {
  width: 60%;
  float: right;
}

.nav_sinistro,
.nav_destro {
  height: 100%;
  display: inline-block;
}


.nav_sinistro a,
.nav_destro > .main_menu > .menu_item{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.no_linea {
  text-decoration: none;
}

.menu_item {
  position: relative;
}

.dropdown_menu {
  position: absolute;
}

.black_font {
  color: black;
}

.grey_font,
.dropdown_menu > .menu_item > a {
  color: grey;
}

.dropdown_menu > .menu_item > a {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown_menu {
  box-shadow: 2px 2px 2px 2px #f2f2f2;
}

.dropdown_menu > .menu_item:hover {
  background-color: #f2f2f2;
  border-top: 20%;
  border-bottom: 20%;
}

.grey_font:hover,
.main_menu > .menu_item.menu_aperto > a,
.dropdown_menu > .menu_item > a:hover {
  color: black;
}

.vertical_center {
  line-height: 80px;
  text-align: center;
}

button {
  color: white;
  font-size: 18px;
  background-color: #eb008d;
  padding: 10px;
  border-radius: 2em;
}

button:hover {
  background-color: #d3007e;
}

.dropdown_menu {
  display:none;
}

.mostra {
  display: block;
}
